<style>
	img.dpImg {
		width: 90px !important;
		height: 90px !important;
	}

	.dpImgCon {
		height: 130px !important;
	}

	hr {
		width: 100%;
		margin: 0;
		border-width: 0.5px;
	}

	.chatMessage {
		box-shadow: 5px 5px 10px grey;
		border-radius: 5px;
		padding: 5px;
		width: 100%;
		background-color:white;
	}

	.chatMessage .chatSender {
		padding: 5px;
		font-style: italic;
		font-weight: 700;
	}

	.chatMessage .chatMsg {
		padding: 5px;
		font-style: normal;
		font-weight: 100;
	}

	.botMessage {
		text-align: center;
	}
</style>
<section layout="column" flex layout-fill layout-align="space-between" class="login">
	<div style="background-color:white; color:Black">
		<div layout="row" layout-align="space-between">
			<md-button class="md-primary" ng-click="toggleFaces()" flex="5">
				M
			</md-button>
			<h1 class="md-toolbar-tools">Active<span style="padding:5px;" ng-bind="userList.userCount"></span></h1>
			<md-button class="md-primary" ng-click="logout()" flex="5">
				L
			</md-button>
		</div>
		<div ng-if="showFaces" layout="row"  class="dpImgCon" layout-padding style="overflow-y:scroll">
			<div ng-repeat="user in userList.users" layout="column">
				<img ng-if="($index % 2)==0" class="dpImg" src="./images/RR3yaDY.png" />
				<img ng-if="!(($index % 2)==0)" class="dpImg"  src="./images/C23xg8BXEAAcJbw.png" />
				<span style="margin:auto" ng-bind="user"></span>
			</div>
		</div>
	</div>
    <div id="messages" layout-padding style="width:100%;overflow-y:scroll;" flex="auto">
		<chat ng-repeat="chat in chatStore" chatData="chat"></chat>
	</div>
	<div flex="10" style="width:100%" layout="row">
		<md-button class="md-primary" flex="5">
			A
		</md-button>
		<!--<input id="chat" flex="shrink"/>-->
		<md-input-container flex="shrink">
				<label>Type something..</label>
				<input id="chat"/>
			</md-input-container>
		<md-button class="md-primary" ng-click="send()" flex="5">
			send
		</md-button>
    </div>
</section>